#row1.row{
    background-color:#221e22;

    height: 150px;
}
#p1{
    color:white;
    
    font-family: Molengo;
    font-weight: bold;
    font-size: 70px;

    margin-top: 15px;
    margin-left: 100px;
}
#row1-1{
    margin-top: 15px;
    margin-left: 170px;
}
#row1-1 input[type="text"], #row1-1 input[type="password"]{
    height: 35px;
    width: 240px;

    border: none;
    border-radius: 6px;

    outline: none;

    font-family: Molengo;
    font-size: 20px;

    margin-top: -10px;
}
#row1-1 input[type="button"]{
    
    height: 45px;
    width: 75px;

    background-color:#ee5622;
    color: #221e22;
    
    font-family: Molengo;
    font-weight: 550;
    font-size: 20px;

    border: none;
    border-radius: 6px;

    padding: auto;

    margin-top: -6px;

    outline: none;
}
#row1-1 input[type="button"]:hover{
    background-color:#eca72c;
}
#col2-1,#col2-2,#col2-3{
    width: auto;

}
#col2-1 p,#col2-2 p{
    font-family: Rajdhani;
    font-size: 20px;
    color:#ee5622;
}
#col2-1 span label{
    font-family: Rajdhani;
    font-size: 20px;

    text-decoration: none;
    color:#ee5622;

    margin-top: 6px;

    cursor: pointer;
}
#col2-2 span p{
    font-family: Rajdhani;
    font-size: 20px;

    text-decoration: none;
    color:#ee5622;

    margin-top: 6px;

    cursor: pointer;
}
#col2-2 span p:hover{
    color:#eca72c;
}
#row2.row{
    background-color:#31263e;

    height: 1000px;
}
#col3{
    background-color:#44355b;
}
#col4 h1{
    color:white;

    font-family: Molengo;
    font-weight: bold;
    font-size: 60px;

    text-transform: uppercase;

    margin-top: 40px;
    margin-left: 30px;
}
#col4 h3{
    color:#eca72c;

    font-family: Rajdhani;
    font-size: 30px;

    text-transform: uppercase;

    margin-top: -8px;
    margin-left: 30px;
}
table{
    margin-top: 30px;
    margin-left: 30px;
}
table #name input[type="text"]{
    height: 50px;
    width: 300px;

    margin-right: 5px;

    padding: 10px;

    border: none;
    border-radius: 10px;

    font-family: Molengo;
    font-size: 30px;

}
#email input[type="text"], #password input[type="password"]{
    height: 50px;
    width: 609px;

    margin-top: 5px;

    padding: 10px;

    border: none;
    border-radius: 10px;

    font-family: Molengo;
    font-size: 30px;


}
table label{
    color: #eca72c;

    text-transform: uppercase;

    font-family: Rajdhani;
    font-size: 30px;

    margin-top: 10px;
}
#Day{
    font-family: Rajdhani;
    font-weight: bold;
    font-size: 30px;

    height: 50px;
    width: 60px;

    border: none;
    border-radius: 5px;

    outline: none;
}
#Month{
    font-family: Rajdhani;
    font-weight: bold;
    font-size: 30px;

    height: 50px;
    width: 165px;

    border: none;
    border-radius: 5px;

    outline: none;
}
#Year{
    font-family: Rajdhani;
    font-weight: bold;
    font-size: 30px;

    height: 50px;
    width: 80px;

    border: none;
    border-radius: 5px;

    outline: none;
}
#gender span{
    font-family: Molengo;
    font-size: 30px;

    text-align: center;

    color:white;
}
input[type="radio"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 20px;
    height: 20px;

    border: 2px solid #ee5622;
    margin-right: 5px;

    outline: none;
}
input[type="radio"]:checked{
    border: 6px solid #eca72c;
    outline: none;
  }
#gender input[value="Male"], #gender input[value="Custom"]{
    margin-left: 10px;
}
#col4 #icon{
    color:#ee5622;

    font-size: 20px;

    margin-left: 10px;
}
#col4 #icon:hover{
    color:#eca72c;
}
#sometext p{
    width: 609px;

    font-family: Rajdhani;
    font-size: 23px;

    text-align: justify;

    color:#eca72c;

    margin-top: 20px;
}
#createBtn{
    height: 55px;
    width: 285px;

    background-color:#ee5622;
    color: #31263e;

    font-family: Molengo;
    font-weight: 550;
    font-size: 30px;

    border: none;
    border-radius: 6px;

    margin-top: 10px;

    outline: none;
}
#createBtn:hover{
    background-color:#eca72c;
}
#col3 #sometext{
    width: 600px;

    font-family: Molengo;
    font-weight: bold;
    font-size: 30px;

    text-align: justify;

    color:white;

    margin-top: 60px;
    margin-left: 70px;
}
img{
    width: 800px;

    margin-top: 10px;
    margin-left: 70px;

    border: 5px solid white;
}